<html xmlns:th="www.thymeleaf.org">
<head th:replace="templateFile :: head(home, home)">
<meta charset="UTF-8">
</head>
<body>
	<nav th:replace="templateFile :: navbar"></nav>
	<div class="container-fluid">
		<h1 class="text-center mb-5 mt-4">Home</h1>
		
		<div class="row">
			<div class="col-lg-6">
				<img th:src="@{/img/banner-home.jpg}" alt="banner home" class="ml-auto mr-auto d-block w-50 shadow">
			</div>
			<div class="col-lg-6 pr-5">
				<h2>Doação de Sangue</h2>
				<p>O hábito de doar sangue requer responsabilidade, compromisso e, principalmente, solidariedade – qualidades que já nascem com a pessoa ou que podem ser cultivadas desde a infância e mesmo despertadas pelo exemplo alheio. Ou quando a necessidade bate à porta. O ato traz benefícios para todos: hospitais, pacientes, Hemominas e sociedade, além de dar mais segurança ao cidadão que, a qualquer momento, pode necessitar do procedimento transfusional. E quem não pode doar, também pode dar sua contribuição, conscientizando outras pessoas sobre a importância e necessidade desse grande gesto.</p>
				<h2>Mitos e verdades sobre doação de sangue</h2>
				<p>O Ministério da Saúde(MS) visando a segurança do doador e de quem irá receber o sangue indica algumas regras básicas para a doação. Todos os candidatos devem passar por um entrevista de triagem, que é realizada por um profissional de saúde, em que são analisados: histórico médico, hábitos e condições de saúde do doador.</p>
				<p>Após  responder o questionário, o profissional ainda afere os batimentos cardíacos, a pressão arterial e a temperatura, além de realizar o teste de anemia. Somente após essas etapas é que o candidato estará aprovado para a doação de sangue. Um procedimento tão simples e humanitário  que ainda gera muitas dúvidas e receios.</p>
			</div>
		</div>
	</div>
</body>
</html>