<html xmlns:th="www.thymeleaf.org">
<head th:replace="templateFile :: head('Relatórios Gerais', relatoriosGerais)">
<meta charset="UTF-8">
</head>
<body>
	<nav th:replace="templateFile :: navbar"></nav>
	<div class="container-fluid">
		<h1 class="text-center mb-5 mt-4">Relatórios Gerais</h1>
	</div>
	<div class="jumbotron">
		<h1>Candidatos por Estado</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<canvas id="graficoDoadoresPorEstado" class="drilldown" height="150rem"></canvas>
			</div>
			<div class="col-lg-6">
				<div th:replace="mapaBrasil :: mapa-brasil"></div>
				<div id="escala-mapa">
					<div class="regua"></div>
					<div class="labels">
						<span class="min float-left">0</span>
						<span class="max float-right">100</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<h1>Média de IMC Por Idade</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-5">
				<canvas id="graficoImcPorIdade" class="drilldown" height="100rem"></canvas>
			</div>
			<div class="col-lg-6">
				<table id="tabelaImcPorIdade" class="table table-sm table-striped"></table>
			</div>
		</div>
	</div>
	<div id="label-mapa" class="label-mapa d-none">
		<h4 class="titulo">SP</h4>
		<h5 class="texto">53</h5>
	</div>
	<div class="jumbotron">
		<h1>Índice de Obesidade Entre Homens e Mulheres</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 mb-5">
				<div class="row">
					<div class="col-lg-4">
						<h2 class="text-center mb-4">Homens</h2>
						<h3 id="indice-homens-obesos" class="destaque-grafico">100000%</h3>
					</div>
					<div class="col-lg-8">
						<canvas id="graficoIndiceObesidadeHomens" height="100rem"></canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-5">
				<div class="row">
						<div class="col-lg-4">
							<h2 class="text-center mb-4">Mulheres</h2>
							<h3 id="indice-mulheres-obesas" class="destaque-grafico">100000%</h3>
						</div>
					<div class="col-lg-8">
						<canvas id="graficoIndiceObesidadeMulheres" height="100rem"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<h1>Média de Idade por Tipo Sanguíneo</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-5">
				<canvas id="graficoIdadeXTipoSanguineo" class="drilldown" height="100rem"></canvas>
			</div>
			<div class="col-lg-6">
				<table id="tabelaIdadeXTipoSanguineo" class="table table-sm table-striped"></table>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<h1>Doadores por Tipo Sanguíneo</h1>
	</div>
	<div class="container-fluid">
		<div class="ml-auto mr-auto mb-5 pt-5 w-75">
			<canvas id="graficoDoadoresPorTipoSanguineoResumido" height="70rem"></canvas>
		</div>
	</div>
</body>
</html>